
<!-- Sticky Header -->
<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <div class="container">
        <a class="navbar-brand" routerLink="/dashboard">
            <img
                src="https://cmsasset.ancestrycdn.com/content/experience-fragments/global-xf/header/global-header/master/_jcr_content/root/responsivegrid/header_copy106168284/logo.coreimg.svg/1676043134625/ancestry.svg"
                width="160" height="50" alt="">
        </a>

        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <!--
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"
                        id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        More
                    </a>
                    <div class="dropdown-menu"
                        aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Contact Us</a>
                        <a class="dropdown-item" href="#">FAQs</a>
                    </div>
                </li>
            </ul> 
            </div> -->
        <div class="navbar-rest-wrapper">
            <div class="navbar-env-indicators">
                <!-- <span class="env-lable">Environment</span>
                <div class="env-indicator">L3</div> -->
                <app-display-environment></app-display-environment>
            </div>
            <div class="sidebar-button">
                <i class='bx {{toggleCssClass}} sidebarBtn '
                    (click)="onToggle()"></i>
            </div>
        </div>
    </div>
</nav>