:host{
    padding: 10px;
      border: 1px solid #ccc;
      background-color: #f9f9f9;
      cursor: move;
/*       
    margin:0;
    display: block;
    border: 1px solid black  ;
    width: 150px;
    height: 50px;
    background-color: lightgreen; */
}

.dragging {
    opacity: 0.5;
    cursor: move;
}