<div class="flow-editor">
    <div class="pannel">
        <app-canvas [name]='"pannel"' [width]="pannelWidth" [height]="pannelHeight"></app-canvas>
    </div>
    <div class="editor">
        <app-canvas [name]='"editor"' [width]="canvasWidth" [height]="canvasHeight"></app-canvas>
    </div>
</div>



<!-- https://research.protocol.ai/blog/2021/designing-a-dataflow-editor-with-typescript-and-react/#high-quality-react-and-typescript-integration -->
<!-- https://github.com/joeltg/react-dataflow-editor/blob/main/src/utils.ts -->